
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  scroll-behavior: smooth;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* Removed custom webfonts: use system fonts for consistency */
.Ol{
  transition: all 0.3s ease;
}
.Ol:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.Buy.container,
.Buy.container2{
  position: fixed;
}
.Buy{
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 40px 20px 50px 20px;
  background-color: #737373;
  height: 70vh;
  border-radius: 4rem;
}
.Phy{
  transition: all 0.3s ease;
}
.Phy:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}
  body {
    display: block;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
}
::selection{
  background: #fee6eb;
}
body:before{
  content: '';
  position: absolute;
}
.container{
  display: flex;
  max-width: 45vw;
  background: #fff;
  border-radius: 12px;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}
.container::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  clip-path: circle(65% at right 35%);
  background-image: linear-gradient( 135deg,  #141414 10%, #726f70 100%);
}
.container .box.one{
  padding: 35px 5px 0px 35px;
}
.box.one .details .topic{
  font-size: 30px;
  font-weight: 500;
}
.box.one .details p{
  color: #737373;
  font-size: 13px;
  font-weight: 500;
}
.box.one .price-box{
  margin-top: 16px;
}
.box.one .discount{
  font-size: 20px;
  margin: 10px 0 0 12px;
  position: relative;
  color: #737373;
}
.box.one .discount:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 100px;
  background: #737373;
  top: 50%;
  left: -8px;
}
.box.one .price{
  color: #000000;
  font-size: 30px;
}
.box.one .button1{
  margin-top: 55px;
}
.box.one .button1 button{
  outline: none;
  border:none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #131313;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button1 button:hover{
  transform: scale(0.98);
  background-color: #737373;
}
.container .box.two .image{
  position: relative;
  right: 0;
  top: 0;
  height: 340px;
  width: 430px;
}
.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container .box.two .image-box{
  position: relative;
  text-align: right;
  right: 0;
  bottom: 27px;
}
.box.two .image-box .info{
  margin: 0 35px 0 0;
}
.box.two .info .brand{
 font-size: 17px;
 font-weight: 600;
 color: #141414;
}
.box.two .info .name{
 font-size: 20px;
 font-weight: 500;
 color: #fff;
}
.box.two .info .shipping{
 font-size: 14px;
 font-weight: 400;
 color: #000;
}
.box.two .button2{
  margin: 17px 0;
}
.button2 button{
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 8px 17px;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
 

.container2{
  position: relative;
  display: flex;
  max-width: 45vw;
  background: #fff;
  border-radius: 12px;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
}
.container2::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  clip-path: circle(65% at right 35%);
  background-image: linear-gradient( 135deg,  #141414 10%, #726f70 100%);
}
.container2 .box2.one2{
  padding: 35px 5px 0px 35px;
}
.box2.one2 .details2 .topic2{
  font-size: 30px;
  font-weight: 500;
}
.box2.one2 .details2 p{
  color: #737373;
  font-size: 13px;
  font-weight: 500;
}
.box2.one2 .price-box2{
  margin-top: 16px;
}
.box2.one2 .discount2{
  font-size: 20px;
  margin: 10px 0 0 12px;
  position: relative;
  color: #737373;
}
.box2.one2 .discount2:before{
  content: '';
  position: absolute;
  height: 1px;
  width: 100px;
  background: #737373;
  top: 50%;
  left: -8px;
}
.box2.one2 .price2{
  color: #000000;
  font-size: 30px;
}
.box2.one2 .button1{
  margin-top: 55px;
}
.box2.one2 .button1 button{
  outline: none;
  border:none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #131313;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button1 button:hover{
  transform: scale(0.98);
  background-color: #737373;
}
.container2 .box2.two2 .image2{
  position: relative;
  right: 0;
  top: 0;
  height: 340px;
  width: 430px;
}
.image2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container2 .box2.two2 .image-box2{
  position: relative;
  text-align: right;
  right: 0;
  bottom: 27px;
}
.box2.two2 .image-box2 .info2{
  margin: 0 35px 0 0;
}
.box2.two2 .info2 .brand2{
 font-size: 17px;
 font-weight: 600;
 color: #141414;
}
.box2.two2 .info2 .name2{
 font-size: 20px;
 font-weight: 500;
 color: #fff;
}
.box2.two2 .info2 .shipping2{
 font-size: 14px;
 font-weight: 400;
 color: #000;
}
.box2.two2 .button2{
  margin: 17px 0;
}
.button2 button{
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 8px 17px;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
.header-content {
  max-width: 100%;
  margin: 0 auto;
  padding: clamp(2rem, 8vw, 6rem) 0 clamp(1.5rem, 6vw, 4rem) 0;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.header-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.buttons {
  margin-bottom: 40px;
}
.btn {
  padding: 15px 30px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3rem;
  transition: ease 1.3ms;
}
.btn:hover{
  background-color: #141414;
  transform: scale(1.1);
}
.primary {
  background-color: #000;
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: #000;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.services span {
  background-color: #f0f0f0;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
}

.membership-benefits {
  padding: 50px;
  background-color: #000;
  text-align: center;
  color: white;
}

.membership-benefits h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.benefits-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.benefit {
  position: relative;
  width: 300px;
  height: 200px; /* Set height for consistent card size */
  perspective: 1000px; /* Perspective for 3D effect */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide back side initially */
  transition: transform 0.6s ease; /* Smooth transform animation */
}

.card-front {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  transform: rotateY(0deg); /* Front facing */
}

.card-back {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  transform: rotateY(180deg); /* Initially flipped */
}

.benefit:hover .card-front {
  transform: rotateY(-180deg); /* Flip to show back */
}

.benefit:hover .card-back {
  transform: rotateY(0deg); /* Show back */
}

.card-back h3,
.card-back p {
  color: #fff; /* Adjust text color for better readability */
}
.Cont{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #5d5f66;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #1b1818;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #000000;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}}
.Perlas p{
  padding: 20px;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  font-family: Logo;
}
.card-front,
.card-back{
  padding: 60px 0 0 0;
}
.top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.top .logo{
  font-size: 3em;
  color: rgb(12, 12, 12);
  text-decoration: none;
}
.nav a{
  position: relative;
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 50px;
}
.nav a::after{
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  height: 3px;
  border-radius: 5px;
  background: #000000;
  transform: scaleX(0);
  transition: .5s;
}
.nav a:hover::after{
  transform: scaleX(1);
}